body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name {
font-weight: bold;
color: rgb(39, 39, 187);
font-size: 4rem;
}

.caption {
font-size: 25px;
color: black;
margin-top: 30px;
}

.col-xl-5 div {
margin-top: 20px;

}

.col-xl-5 {
background-color: whitesmoke;
border-radius: 10px;
}

.page {

border-radius: 10px;
border: none;
margin-top: 10px;
text-align: center;
background-color: transparent;
}

input {
height: 50px;
width: 100%;
font-size: 20px;
padding: 10px;
}

.forgotten-password {
text-align: center;
font-size: 20px;
margin-bottom: 50px;

}

.forgotten-password a {
text-decoration: none;
}

.forgotten-password a:hover {
text-decoration: underline;
}

div.create-new {
text-align: center;
background-color: rgb(34, 216, 34);
width: 60%;
margin: 20px auto;
padding: 20px;
font-size: 20px;
border-radius: 15px;
color: white;
cursor: pointer;

}

.log-in {
background-color: rgb(23, 23, 160);
color: white;
font-weight: bold;
text-align: center;
border-radius: 10px;
padding: 10px;
font-size: 20px;
cursor: pointer;
}

.background {
background-color: rgb(235, 227, 227);
}

.footer-xl a {
text-decoration: none;
color: gray;
}

.footer-xl a:hover {
text-decoration: underline;
color: blue;
}

.footer-xl div{
margin-right: 15px;
}

/*.col-xl-5 div {
margin-top: 10px;
margin-bottom: 30px;

}*/